{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<hr>
{% if message is not null %}
<p class="alert alert-info">{{message}}</p>
{% endif %}
{{form(form)}}
<hr>

<a href="{{path('account')}}">Retour à mon compte</a>


{% endblock %}
